<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Column form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="lib/angular/angular.js"></script>
		<script src="js/controllers.js"></script>
  </head>
	<body ng-controller="BoardCtrl">
		<form name="columnForm" ng-submit="submitColumn()">
			<div class="error" ng-show="columnForm.$error">{{errMessage}}</div>

			<label>Title:</label> <input type="text" name="title" maxlength="20" required
																	ng-model="column.title" ng-pattern="patternName">
			<span class="error" ng-show="columnForm.title.$error.required">Required!</span>
			<span class="error" ng-show="columnForm.title.$error.pattern">Too long!</span>
			<label>Position:</label> <input type="number" name="position" min="0" required
																	 ng-model="column.position" ng-pattern="patternPozitiveNumber">
			<span class="error" ng-show="columnForm.position.$error.required">Required!</span>
			<span class="error" ng-show="columnForm.position.$error.pattern">Only pozitive number!</span>
			<label>Limit:</label> <input type="number" name="limit" min="0" required
																	 ng-model="column.limit" ng-pattern="patternPozitiveNumber">
			<span class="error" ng-show="columnForm.limit.$error.required">Required!</span>
			<span class="error" ng-show="columnForm.limit.$error.pattern">Only pozitive number!</span>
			<label>Color:</label> <input type="color" name="color" required
																	 ng-model="column.color" ng-pattern="patternColor">
			<span class="error" ng-show="columnForm.color.$error.required">Required!</span>
			<span class="error" ng-show="columnForm.color.$error.pattern">A color pattern: #000000</span>
			<input type="submit" value="save">
		</form>
  </body>
</html>
