<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>Kanban Board</title>
	<meta name="keywords" content="Kanban, Board" />
	<link rel="stylesheet" href="css/screen.css"/>
    
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="author" href="humans.txt" type="text/plain" />

	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/jquery-ui-1.8.21.custom.min.js"></script>
	<script src="js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
	</script>
</head>
<body ng-controller="BoardCtrl">
<div id="page">
	<header class="clearfix">
		<a id="logo" href="#"><img src="css/logo.png" alt="logo" /></a>
		<nav>
			<ul>
				<li><a href="#" class="button newtask" title="new task ui-state-default"><img src="css/plus.png" alt="plus" />new task</a></li>
				<li><a href="#" class="button newcolumn" title="new column"><img src="css/plus.png" alt="plus" />new column</a></li>
			</ul>
		</nav>    
	</header>
	<script>
	$(function() {
		$( "div.droptrue" ).sortable({
			connectWith: "div.column-box"
		});

		$( "div.dropfalse" ).sortable({
			connectWith: "div.column-box",
			dropOnEmpty: false
		});

		$( "#sortable1, #sortable2, #sortable3" ).disableSelection();
	});
	</script>
    
	<div id="columns" class="clearfix">
		<div id="columns-box">

			<!-- column -->
			<div class="column column-root" ng-repeat="column in columns">
				<!-- box -->
				<div class="column-box droptrue clearfix" ng-repeat="box in column">
					<h2 class="label dropfalse">{{box.title}}</h2>
					<!-- ticket -->
					<article class="task c-blue clearfix" ng-repeat="ticket in box.tickets">
						<div class="icon"></div>
						<h3>{{ticket.title}}</h3>
						<div>{{ticket.shortDescription}}</div>
						<a href="#" class="coments box" title="Coments">-</a>
					</article>
					<!-- / ticket -->
                </div>    
                <!-- /box -->
            </div>
            <!-- /column -->

		</div>
	</div>

	<footer class="clearfix">
		<div id="copyright">
			<a href="#" title="#"><img src="css/developerhub.png" alt="developerhub.png" /></a>
		</div>
		<div id="technology">
			<a href="#" title="#"><img src="css/mongodb.png" alt="mongodb.png" /></a>
			<a href="#" title="#"><img src="css/html5.png" alt="html5.png" /></a>
			<a href="#" title="#"><img src="css/angularjs.png" alt="angularjs.png" /></a>
		</div>

	</footer>

	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
</div>
</body>
</html>
